<header>
  <div class="container">
    <h1>SuperHeroes</h1>
  </div>
</header>
<nav>
  <div class="container">
    <div class="links">
      {{#link-to 'comics.index'}}
        <div class="link-wrapper">
          <span class="nav-link">Comics</span>
        </div>
      {{/link-to}}
      {{#link-to 'characters'}}
        <div class="link-wrapper">
          <span class="nav-link">Characters</span>
        </div>
      {{/link-to}}
      {{#link-to 'creators'}}
        <div class="link-wrapper">
          <span class="nav-link">Creators</span>
        </div>
      {{/link-to}}
      {{#link-to 'events'}}
        <div class="link-wrapper">
          <span class="nav-link">Events</span>
        </div>
      {{/link-to}}
    </div>
  </div>
</nav>

<div class="container">
  {{outlet}}
</div>
